<!DOCTYPE html>
<html>
  <head>
    <title>Depot</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

  </head>

  <body>
    <header class="main">
    <%= image_tag "logo1.jpg", size: "170x170", alt: 'The programatic Bookshelf' %>
      <h1> <%= @page_title %> </h1>
    </header>

    <section class="content">
      <nav class="side_nav">
        <ul>
          <li><a href="/"> Home </a></li>
          <li><a href="/questions"> Question </a></li>
          <li><a href="/news"> News </a></li>
          <li><a href="/contact"> Contact </a></li>
        </ul>
      </nav>

      <main class='<% controller.controller_name %>'>
         <%= yield %>
      </main>
    </section>
  </body>
</html>
